<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="lib/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="lib/css/descStyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Days+One&family=Outfit&family=Poppins&family=REM&family=Rasa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit&family=Poppins&family=REM&family=Rasa&display=swap" rel="stylesheet">
    <title>Arcade Tamaka</title>
</head>
<body class="mt-3 pt-2">
    <div class="row mb-3 mb-sm-0 ps-3 ps-sm-0 container-fluid">
        <a id="backButton" href="" class="col-2 col-lg-1 text-center">
            <i class="bi bi-arrow-left-circle text-white" style="font-size: 50px"></i>
        </a>
    </div>
    <div id="content" class="container-fluid">
        <div class="row">
            <div class="col-1">

            </div>

            <div id="leftSide" class="container-fluid px-0 col-4">
                <div id="title" class="">
                    <!-- Title in script -->
                    <h1 id="gameTitle" class="display-3 mb-2 mb-lg-4 pb-lg-4"></h1>
                </div>
        
                <div id="desc" class="container-fluid px-0">
                    <!-- Desc in script -->
                    <p id="gameDesc" class="lead mb-4 pb-4 "></p> 
                </div>

                <div class="row mx-0 g-1">
                    <button id="button" type="button" class="btn btn-lg col" data-bs-toggle="modal" data-bs-target="#gameScreen">Play Game</button>
                    <button id="delbutton" type="button" class="ml-1 btn btn-lg col" style="display: none;">Delete</button>           
                </div>
            </div>
            
            <div class="col-2"></div>

            <div id="rightSide" class=" container-fluid px-0 col-4">
                <img src="" id="gameImage" class="img-fluid">
            </div>

            <div class="col-1">

            </div>
        </div>

        <div class="modal fade" id="gameScreen" style="--bs-body-bg: #212529" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
              <div class="modal-content">
                <div class="modal-header" style="border-bottom: #495057">
                  <button type="button" class="btn-close" style="filter: var(--bs-btn-close-white-filter);" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe id="gameLink" src="" title="Game" scrolling="no" allow="autoplay; payment; fullscreen; microphone; clipboard-read; focus-without-user-activation *; screen-wake-lock; gamepad" webkitallowfullscreen="true" mozallowfullscreen="true" msallowfullscreen="true" allowfullscreen="true" allowfullscreen loading="eager" style="border: 0px; background-color: rgb(255, 255, 255); width: 100%; height: 45vw; min-width: 100%; min-height: 100%;">
                    </iframe>
                </div>
              </div>
            </div>
          </div>
    </div>

    <!-- javascript -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="lib/js/bootstrap.bundle.js"></script>

    <!-- Delete Button Script -->
    <script>
        document.getElementById("delbutton").addEventListener('click', () => {
            const delID     = urlParams.get('gameID');
            deleteApiEndpoint = `http://localhost:3002/deleteGame/${delID}`;

            fetch(deleteApiEndpoint, {
                method: 'DELETE', // HTTP DELETE request
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json(); // Parse the JSON response
            })
            .then(result => {
                // Handle the success response
                console.log("Success:", result);
                window.location.href = "/admin"
            })
            .catch(error => {
                // Handle errors
                console.error("Error:", error);
                alert("Failed to delete game. Please try again.");
            });
        })
    </script>

    <!-- User Data Script -->
    <script>
        const delButton = document.getElementById("delbutton");
        const adminApiEndpoint = "http://localhost:3002/me";

        fetch(adminApiEndpoint, {
            method: 'GET', // HTTP GET request
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json(); // Parse the JSON response
        })
        .then(result => {
            // Handle the success response
            console.log("Success:", result);

            // Delete button display
            if(result.is_admin == true){
                delButton.style.display = "block";
            }
            else{
                delButton.style.display = "none";
            }
        })
        .catch(error => {
            // Handle errors
            console.error("Error:", error);
            alert("Failed to admin datas. Please Refresh.");
        });
    </script>

    <!-- Back Button Script -->
    <script>
        const backButton = document.getElementById("backButton");
        const userApiEndpoint = `http://localhost:3002/me`;

        fetch(userApiEndpoint, {
            method: 'GET', // HTTP GET request
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json(); // Parse the JSON response
        })
        .then(result => {
            // Handle the success response
            console.log("Success:", result);
            
            // Conditional href for admin and user
            if(result.is_admin == false){
                backButton.setAttribute("href", "/home");
            }
            else{
                backButton.setAttribute("href", "/admin");
            }
        })
        .catch(error => {
            // Handle errors
            console.error("Error:", error);
            alert("Failed to load back button. Please Refresh.");
        });
    </script>

    <!-- Data Displayer -->
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const gameID = urlParams.get('gameID');
        const apiEndpoint = `http://localhost:3002/getGameByID/${gameID}`;
        const title = document.getElementById("gameTitle");
        const desc  = document.getElementById("gameDesc");
        const image = document.getElementById("gameImage");
        const link  = document.getElementById("gameLink");

        // Send the data using fetch
        fetch(apiEndpoint, {
            method: 'GET', // HTTP GET request
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json(); // Parse the JSON response
        })
        .then(result => {
            // Handle the success response
            console.log("Success:", result);
            DisplayGame(result);
        })
        .catch(error => {
            // Handle errors
            console.error("Error:", error);
            alert("Failed to load game. Please Refresh.");
        });
        
        function DisplayGame(result){
            title.innerText = result.game.Game_Title;
            desc.innerText = result.game.Description;
            image.setAttribute("src",`asset/${result.game.Path_Image}`);
            link.setAttribute("src", result.game.Link_Embed);
        }
    </script>
</body>
</html>

<!-- d-flex justify-content-center-->